/*BASE*/
/***************************************************************/

/* Video config */

#videoss a {
   display: block;
   cursor: pointer;
   text-decoration: none;
   outline: 0;
}

#videoss a:hover {
   opacity: 0.7;
}

#videoss a img {
   width: 100%;
   height: auto;
}

#overlayy {
   background: rgba(0,0,0,0.8);
   position:fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 99999;
   display: none;
}

#overlayy .modall {
   border-radius: 5px;
   width: 90%;
   margin: auto;
   max-width: 800px;
   min-height: 100px;
   position: relative;
   padding: 30px 20px 15px;
   overflow: hidden;
}

#overlayy .modall #closee {
   position: absolute;
   top: 5px;
   bottom: 5px;
   right: 5px;
   cursor: pointer;
   color: black;
   background: red;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   text-align: center;
}

#overlayy iframe {
   width: 100%;
}

/****************************************************************/

/* CV image and text config */
#doc-1, #doc-2, #doc-3, #doc-4 {
   cursor: pointer;
}

#docCv-1, #docCv-2, #docCv-3, #docCv-4 {
   width: 100%;
   height: 100%;
   opacity: 95%;
   top: 0;
   left: 0;
   display: none;
   position: fixed;
   background-color: #313131;
   overflow: auto;
   -webkit-animation: fadeIn 0.75s;
}

#popupCv {
   position: absolute;
   left: 20%;
   top: 17%;
   margin-left: -202px;
}

#boxCv {
   max-width: 80%;
   min-width: 90vw;
   height: 70vh;
   position: relative;
   padding: 10px 50px;
   border: 2px solid gray;
   border-radius: 10px;
   background-color: #fff;
}

.doc-img {
   max-width: 35vw;
   max-height 35vh;
   margin-top: 5%;
}

.doc-txt {
   position: relative;
   top: -53vh;
   height: 32vh;
   width: 43vw;
   left: 40vw;
   overflow: scroll;
}

#docCv-4 .doc-txt {
   height: 26vh;
}

#boxCv h3, #boxCv h2, #boxCv h4 {
   position: relative;
   top: -55vh;
   left: 40vw;
   width: 43vw;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity:1 ;}
}



/* RESPONSIVE */

/* Normal Screen */
@media (max-width: 1024px) {
   #popupCv {
     left: 25%;
   }

  .doc-img {
     margin-top: 10%;
  }
}

/* Tablet */
@media (max-width: 768px) {
   #popupCv {
     left: 31%; 
   }

   #boxCv h3, #boxCv h2, #boxCv h4 {
     top: -37vh;
     width: 40vw;
   }  

   #boxCv h4 {
     font-size: 1rem;
   }

   .doc-txt {
     top: -33vh;
     height: 24vh;
     width: 70vw;
     left: 0vw;
   }

   #docCv-2 .doc-txt, #docCv-3 .doc-txt {
     top: -30vh;
   }

   #docCv-4 .doc-txt {
   top: -35vh;
   }
} 

/* Mobile */
@media (max-width: 425px) {
   #popupCv {
     left: 52%;
   }

   #boxCv h3, #boxCv h2, #boxCv h4 {
     top: -18vh;
     width: 35vw;
  }

   #boxCv h3 {
     font-size: 1rem;
   }

   #boxCv h2 {
     font-size: 1.1rem;
   }

   #boxCv h4 {
     top: -13vh;
     left: 0;
     width: 70vw;
     font-size: 0.9rem;
   }

   #docCv-4 h4 {
     top: -15vh;
   }

   .doc-txt {
   top: -12vh!important;
   height: 35vh;
  }

   #docCv-4 .doc-txt {
   top: -14vh!important;
   height: 37vh;
  }
}
